<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>coloMS</title>
    <%= csrf_meta_tags %>
    <!-- <x-compile> -->
        <!-- <x-bootstrap> -->
            <link rel="stylesheet" href="bootstrap.css">
            <link rel="stylesheet" href="resources/css/style.css">
            <script src="ext/ext-dev.js"></script>
            <script src="bootstrap.js"></script>
        <!-- </x-bootstrap> -->
        <script src="app.js"></script>
    <!-- </x-compile> -->
</head>
<body></body>
  <div id="loading-mask"></div>
  <div id="loading">
    <div class="loading-indicator">
      Loading...
    </div>
  </div> 
</html>
